# lego_sets.csv
- set_num: A code that is unique to each set in the dataset. This column is critical, and a missing value indicates the set is a duplicate or invalid!
- set_name: A name for every set in the dataset (note that this can be the same for different sets).
- year: The date the set was released.
- num_parts: The number of parts contained in the set. This column is not central to our analyses, so missing values are acceptable.
- theme_name: The name of the sub-theme of the set.
- parent_theme: The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.
# parent_themes.csv
- id: A code that is unique to every theme.
- name: The name of the parent theme.
- is_licensed: A Boolean column specifying whether the theme is a licensed theme.

In [1]:
import pandas as pd

In [2]:
lego_set = pd.read_csv(r'C:\Users\Asus\Desktop\Project\Python\Untitled Folder\lego_sets.csv')
parent_themes = pd.read_csv(r'C:\Users\Asus\Desktop\Project\Python\Untitled Folder\parent_themes.csv')

## Cleaning datasets

In [3]:
lego_set.shape

(11986, 6)

In [4]:
lego_set.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [5]:
lego_copy = lego_set.copy()

In [6]:
lego_copy = lego_copy[lego_copy['set_num'].notnull()]

In [7]:
lego_copy.isnull().sum()

set_num            0
name               0
year               0
num_parts       4998
theme_name         0
parent_theme       0
dtype: int64

In [8]:
lego_copy.dtypes

set_num          object
name             object
year              int64
num_parts       float64
theme_name       object
parent_theme     object
dtype: object

In [9]:
parent_themes

      id          name  is_licensed
0      1       Technic        False
1     22       Creator        False
2     50          Town        False
3    112        Racers        False
4    126         Space        False
..   ...           ...          ...
106  605  Nexo Knights        False
107  606   Angry Birds         True
108  607  Ghostbusters         True
109  608        Disney         True
110  610    Brickheadz        False

[111 rows x 3 columns]

In [10]:
parent_themes.isnull().sum()

id             0
name           0
is_licensed    0
dtype: int64

In [11]:
parent_themes.dtypes

id              int64
name           object
is_licensed      bool
dtype: object

In [12]:
data = pd.merge(left=lego_copy, right=parent_themes, left_on='parent_theme', right_on='name')
data

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False
...,...,...,...,...,...,...,...,...,...
11828,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,Ben 10,True
11829,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,Ben 10,True
11830,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,Ben 10,True
11831,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,Ben 10,True
11832,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,Ben 10,True

## Task 1: What percentage of all licensed sets ever released were Star Wars Themed?|

In [13]:
subset = data.drop(columns=['num_parts', 'id', 'name_y'])
subset

,set_num,name_x,year,theme_name,parent_theme,is_licensed
0,00-1,Weetabix Castle,1970,Castle,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,Building,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,Building,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,Building,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,Building,Legoland,False
...,...,...,...,...,...,...
11828,8410-1,Swampfire,2010,Ben 10,Ben 10,True
11829,8411-1,ChromaStone,2010,Ben 10,Ben 10,True
11830,8517-1,Humungousaur,2010,Ben 10,Ben 10,True
11831,8518-1,Jet Ray,2010,Ben 10,Ben 10,True
11832,8519-1,Big Chill,2010,Ben 10,Ben 10,True

In [29]:
total_licensed = subset[subset['is_licensed']==True]['set_num'].count()
star_wars_licensed = subset[(subset['is_licensed']==True) & (subset['parent_theme']=='Star Wars')].set_num.count()
pct = star_wars_licensed*100/total_licensed
int(pct)

51

In [31]:
total_licensed = subset[subset['is_licensed']==True]
star_wars_licensed = subset[(subset['is_licensed']==True) & (subset['parent_theme']=='Star Wars')]
pct = int(100*star_wars_licensed.shape[0]/total_licensed.shape[0])
pct

51

## Task 2: In which year was Star Wars not the most popular licensed theme?
##### Step 1: Find the most popular licensed theme each year
##### Step 2: Compare and answer the question

In [32]:
licensed = subset[subset['is_licensed']==True]
licensed

,set_num,name_x,year,theme_name,parent_theme,is_licensed
3493,10018-1,Darth Maul,2001,Star Wars,Star Wars,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,Star Wars Episode 4/5/6,Star Wars,True
3495,10026-1,Naboo Starfighter - UCS,2002,Star Wars Episode 1,Star Wars,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,Star Wars Episode 4/5/6,Star Wars,True
3497,10123-1,Cloud City,2003,Star Wars Episode 4/5/6,Star Wars,True
...,...,...,...,...,...,...
11828,8410-1,Swampfire,2010,Ben 10,Ben 10,True
11829,8411-1,ChromaStone,2010,Ben 10,Ben 10,True
11830,8517-1,Humungousaur,2010,Ben 10,Ben 10,True
11831,8518-1,Jet Ray,2010,Ben 10,Ben 10,True
11832,8519-1,Big Chill,2010,Ben 10,Ben 10,True

In [48]:
#Find the most popular licensed theme each year => Groupby: year, parent_theme
licensed['count']=1
licensed_group = licensed.groupby(['year', 'parent_theme']).count().reset_index()
licensed_group.sort_values('count', ascending=False).drop_duplicates(['year']).sort_values('year')
#licensed_group.sort_values: sort values based on 'count' column and then drop duplicates (only remain the first occurrence cuz it is the max value) => the most popular licensed theme each year

C:\Users\Asus\AppData\Local\Temp\ipykernel_20576\1085892891.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  licensed['count']=1

    year  parent_theme  set_num  name_x  theme_name  is_licensed  count
0   1999     Star Wars       13      13          13           13     13
2   2000     Star Wars       26      26          26           26     26
4   2001     Star Wars       14      14          14           14     14
6   2002     Star Wars       28      28          28           28     28
9   2003     Star Wars       32      32          32           32     32
12  2004     Star Wars       20      20          20           20     20
16  2005     Star Wars       28      28          28           28     28
20  2006     Star Wars       11      11          11           11     11
24  2007     Star Wars       16      16          16           16     16
28  2008     Star Wars       23      23          23           23     23
32  2009     Star Wars       39      39          39           39     39
36  2010     Star Wars       30      30          30           30     30
42  2011     Star Wars       32      32          32           32     32
47  2012     Star Wars       43      43          43           43     43
52  2013     Star Wars       35      35          35           35     35
59  2014     Star Wars       45      45          45           45     45
67  2015     Star Wars       58      58          58           58     58
76  2016     Star Wars       61      61          61           61     61
82  2017  Super Heroes       72      72          72           72     72

In [ ]:
the_answer = 2017

## Task 3: How many unique sets were released each year (1955-2017)?

In [21]:
subset.head(20)

,set_num,name_x,year,theme_name,parent_theme,is_licensed
0,00-1,Weetabix Castle,1970,Castle,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,Building,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,Building,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,Building,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,Building,Legoland,False
5,102A-1,Front-End Loader,1970,Construction,Legoland,False
6,102A-2,Front-End Loader,1970,Construction,Legoland,False
7,1-10,Mini-Wheel Model Maker No. 1,1971,Vehicle,Legoland,False
8,1550-1,Sterling Super Caravelle,1972,Airport,Legoland,False
9,1551-2,Sterling Luggage Carrier,1972,Airport,Legoland,False
10,1552-2,Sterling Boeing 727,1974,Airport,Legoland,False
11,1555-2,Sterling Airways Biplane,1978,Airport,Legoland,False
12,1560-2,Lufthansa Boeing 727,1976,Airport,Legoland,False
13,1562-3,Lufthansa Double-Decker,1976,Airport,Legoland,False
14,157-3,Four Car Auto Transport,1970,Vehicle,Legoland,False
15,1601-1,Conveyance,1976,Construction,Legoland,False
16,1610-2,Martinair Cessna,1978,Airport,Legoland,False
17,1611-2,Martinair DC-9,1978,Airport,Legoland,False
18,2-10,Mini-Wheel Model Maker No. 2,1971,Vehicle,Legoland,False
19,248-2,Factory With Conveyor Belt,1971,Construction,Legoland,False

In [58]:
subset.groupby('year').count().reset_index()[['year', 'set_num']]

    year  set_num
0   1950        7
1   1953        4
2   1954       14
3   1955       28
4   1956       12
5   1957       21
6   1958       42
7   1959        4
8   1960        3
9   1961       17
10  1962       40
11  1963       18
12  1964       11
13  1965       10
14  1966       89
15  1967       21
16  1968       25
17  1969       69
18  1970       29
19  1971       45
20  1972       38
21  1973       68
22  1974       39
23  1975       31
24  1976       68
25  1977       92
26  1978       73
27  1979       82
28  1980       88
29  1981       79
30  1982       76
31  1983       57
32  1984       76
33  1985      139
34  1986      123
35  1987      209
36  1988       68
37  1989      114
38  1990       85
39  1991      106
40  1992      115
41  1993      111
42  1994      128
43  1995      128
44  1996      144
45  1997      194
46  1998      325
47  1999      300
48  2000      327
49  2001      339
50  2002      447
51  2003      415
52  2004      371
53  2005      330
54  2006      283
55  2007      319
56  2008      349
57  2009      403
58  2010      444
59  2011      502
60  2012      615
61  2013      593
62  2014      715
63  2015      670
64  2016      608
65  2017      438